<div class="top-header">
    <a href="/">
      <img
        class="logotype"
        src="/static/logo-cinema.png"
        alt="logotype for the cinema"
    /></a>
    <h1>Lule Northern Lights Cinema</h1>
    <img
      onclick="hamburger()"
      id="hamburger-icon"
      src="/static/hamburger-icon.svg"
      alt="hamburger-icon"
    />
  </div>
  <nav>
    <ul class="main-nav">
      <a href="/openingHours">
        <li>Öppetider & Kontakt</li>
      </a>
      <a href="/about">
        <li>Om våran biograf</li>
      </a>
      <a href="/ticket-info">
        <li>Biljettinfo</li>
      </a>
      <a href="/newsLetter">
        <li>Nyheter</li>
      </a>
      <a href="/giftCard">
        <li>Köp presentkort</li>
      </a>
      <section>
        <a href="#">
          <img
            class="social-media-links"
            src="/static/facebook.svg"
            alt="facebook icon"
        /></a>
        <a href="#">
          <img
            class="social-media-links"
            src="/static/instagram.svg"
            alt="instagram icon"
        /></a>
        <a href="#">
          <img
            class="social-media-links"
            src="/static/twitter.svg"
            alt="twitter icon"
        /></a>
        <a href="#">
          <img
            class="social-media-links"
            src="/static/mail.svg"
            alt="mail icon"
        /></a>
      </section>
    </ul>
  </nav>