<section class="fnb fnb-food-header">
    <h2>Välkommen till Northen Lights Bistro & Bar</h2>
    <p>
      Hos oss kan du njuta av ett modernt och rustikt nordiskt kök. Menyn
      kombineras med dryckesförslag av vår sommelier Sten Bumling och kan
      avnjutas såväl i vår stora foajé som i någon av våra tre biosalonger.
    </p>

    <a href="mailto:"> Boka Bord </a>
  </section>
  <section class="fnb fnb-food-alacarte">
    <h2>A la carte meny</h2>
    <em>
      Vi serverar vår à la carte meny från klockan 16.30 i bistron, salong Bar
      Deco och Camera.
    </em>
    <ul>
      <li>Rätt 1</li>
      <li>Rätt 2<em class="food-diet-vegan">Vegansk</em></li>
      <li>Rätt 3</li>
      <li>Rätt 4</li>
      <li>Rätt 5</li>
    </ul>
  </section>
  <section class="fnb fnb-food-special">
    <h2>Kökets special</h2>
    <p>
      Vecka 50-51: Lättrökt svensk ostronskivling med julkryddade gulbetor och
      stuvad grönkål.
    </p>
  </section>
  <section class="fnb fnb-food-bistro">
    <h2>Bistromeny</h2>
    <em> Vi erbjuder vår bistromeny hela dagen i alla våra tre salonger. </em>
    <ul>
      <li>Rätt 1<em class="fnb food-diet-vegan">Vegansk</em></li>
      <li>Rätt 2</li>
      <li>Rätt 3</li>
      <li>Rätt 4</li>
      <li>Rätt 5</li>
    </ul>
    <a class="fnb fnb-book-a-table" href="mailto:"
      >Boka bord via info@northernlight.se</a
    >
  </section>