<section class="pageHeader">
    <h2>Boka din plats</h2>
  </section>
  <main class="content">
    <div class="bookingContent">
      <div class="screen">Bioduk</div>
      <div class = ticketSelector>
        <div class ="ticket">Matinébiljett 100kr</div>
        <button class="addToCart">Lägg till</button>
      </div>
      <div id="seatPlanContainer" class="seatPlanContainer">
        <div id="seatPlanCanvas" class="seatPlanCanvas">
      </div>
    </div>
  </main>

  <script src="../js/booking/booking.js"></script>