<section class="pageHeader">
    <h2>Presentkort</h2>
  </section>
  <main class="content">
    <p>
      En fin gåva till alla filmälskare som vill sätta guldkant på biobesöket.
      Presentkortet gäller hela bioprogrammet samt mat och dryck. Du väljer
      beloppet och kortet är därefter giltigt i ett år. Läs hur du betalar med
      presentkortet på hemsidan under
      <a href="ticket-info.html">Biljettinfo</a>.
    </p>
    <h3>Köp presentkort på plats</h3>
    <p>
      Lule Northern Lights Cinema ligger på biografgatan 97 i Luleå där du kan
      köpa vårt presentkort i kassan. Läs mer om våra
      <a href="openingHours.html">öppettider</a>.
    </p>  

    <h3>Köp presentkort via företaget</h3>
    <p>
      Vill du köpa presentkort via företaget kan du mejla din beställning till
      <a href="mailto:info@lulenorthernlightscinema.se"
        >info@lulenorthernlightscinema.se</a
      >. Glöm inte att bifoga företagets fakturauppgifter i mejlet.
    </p>
    <p>
      <img
        src="../static/giftcard.png"
        alt="Bild på en biosalong med röda stolar i bakgrunden och i förgrunden är det ett glas vin, en stor bulle och ett presentkort ovanpå ett bord. Belysnigen i rummet är dämpad."
        width="300"
        height="300"
      />
    </p>
  </main>