<h2 class="screening screening-header">Kommande visningar</h2>
<div class="screening-container">
    <%- include("./partials/screenings")  %> 
</div>
<!-- 
<div class="modal-container">
      <div class="cinema-modal">

      </div>
</div> -->