<section class="pageHeader">
    <h2>Matinéfilm för 100 kronor</h2>
  </section>
  <main class="content">
    <p>
      På vardagar klockan 14 till 15 har du möjligheten att se en matinéfilm
      och få 50 kronor i rabatt. Här presenterar vi Oscarsnominerade filmer,
      briljant arthousefilm och en mängd andra guldkorn!
    </p>
    <p>
      Du väljer helt enkelt önskad visning, biljettyp (med eller utan mat) och
      kommer därefter till oss på Spegeln för en härlig bioeftermiddag i en
      skön biofåtölj! Rabatten är inkluderad när du köper en biljett till en
      matinéfilm på hemsidan.
    </p>
    <p>
      Klicka dig vidare till vårt <a>bioprogram</a> för att se vilka matinéer
      som visas just nu.
    </p>
  </main>