<div>
  <section id="movieID" data-id="<%= movie.id %>">
    <h2>Titel: <%= movie.title %></h2>
    <p>Intro: <%- movie.intro %></p>
    <img width="250px" height="500px" src="<%= movie.image.url%>" alt="" />
    <h3 class="movie-rating">Filmens Betyg:</h3>
  </section>
</div>

<section class="reviewsSection">
  <button type="button" id="buttonPrevious">Föregående</button>
  <button type="button" id="buttonNext">Se fler</button>
  <ul id="reviewContainer"></ul>
</section>

<section class="upcoming">
  <ul id="coming-screenings"></ul>
</section>
<section id="reviewContainer"></section>
<form class="review-form">
  <div class="review-send">
    <h2>Lämna review:</h2>
    <div class="person-info">
      <label for="firstname">Förnamn:</label>
      <input id="firstname" class="firstName" class="input" type="text" />
      <label for="lastname">Efternamn:</label>
      <input id="lastname" class="lastName" class="input" type="text" />
    </div>
    <div>
      <label for="ratingId">Betyg:</label>
      <select id="ratingId" class="rating">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <textarea
      class="comment-field"
      placeholder="Lämna kommentar här"
      name=""
      id=""
      cols="25"
      rows="5"
    ></textarea>
  </div>

  <div class="capital">
    <label for="capitalcity">Skriv Sveriges huvudstad för att skicka din review:</label>
    <input id="capitalcity" class="capital-city" type="text" />

    <button type="submit" class="send-btn">Skicka din review</button>
  </div>
</form>

<script src="/static/jsfrontend/moviePageBundle.js" type="module"></script>
