<div>
    <li>
        <h2>Titel: <%= movie.title %> </h2>
        <p>Intro: <%- movie.intro %></p>
        <img width="250px" height="500px" src="<%= movie.image.url%>" alt="">
    </li>
</div>
<section class ="reviewsSection">
    <ul id="reviewContainer">

        <div class="pagination-container">
            <button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">
                &lt;
            </button>
            <div id="pagination-numbers">
            </div>
            <button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">
                &gt;
            </button>
        </div>
    </ul>
</section>
<script src="../static/jsfrontend/getReviews.js"></script>

