<div>
    <li id="<%= movie.id %> ">
        <h2>Titel: <%= movie.title %> </h2>
        <p>Intro: <%- movie.intro %></p>
        <img width="250px" height="500px" src="<%= movie.image.url%>" alt="">
    </li>
</div>

<section class="upcoming">
    <ul id="coming-screenings">

    </ul>
</section>

<script src="../static/jsfrontend/getUpcomingScreenings.js"></script>