<div>
    <li id="movieID" data-id="<%= movie.id %>">
        <h2>Titel: <%= movie.title %> </h2>
        <p>Intro: <%- movie.intro %></p>
        <img width="250px" height="500px" src="<%= movie.image.url%>" alt="">
    </li>
</div>

<section class="upcoming">
    <ul id="coming-screenings">
    </ul>
</section>

<form id="postReview">
    <input name="name" type="text">
    <input name="comment" type="text">
    <button type="submit">Submit review</button>
</form>


<script>
    

</script>












<script src="../static/jsfrontend/getUpcomingScreenings.js"></script>