<div>
    <li>
        <h2>Titel: <%= movie.title %> </h2>
        <p>Intro: <%- movie.intro %></p>
        <img width="250px" height="500px" src="<%= movie.image.url%>" alt="">
    </li>
</div>
<section class ="reviewsSection">
    <button type="button" id="buttonPrevious">Föregående </button>
	<button type="button" id="buttonNext">Se fler</button>
    <ul id="reviewContainer">

        
    </ul>
</section>
<script src="../static/jsfrontend/getReviews.js"></script>