<div>
    <li id="movieID" data-id="<%= movie.id %>">
        <h2>Titel: <%= movie.title %> </h2>
        <p>Intro: <%- movie.intro %></p>
        <img width="250px" height="500px" src="<%= movie.image.url%>" alt="">
    </li>
  </div>
  
  <section class="upcoming">
    <ul id="coming-screenings">
    </ul>
  </section>
  
  <form id="form">
    <input id="name" type="text">
    <section>
        <input name="rating" type="radio" value="0" checked="checked">  
        <input name="rating" type="radio" value="1">
        <input name="rating" type="radio" value="2">
        <input name="rating" type="radio" value="3">
        <input name="rating" type="radio" value="4">
        <input name="rating" type="radio" value="5">
    </section>
    <textarea id="comment"></textarea>
    <button id="submit">Submit</button>
  </form>
  
  <script src="/static/jsfrontend/postReview.js"></script>
  <script src="/static/jsfrontend/getUpcomingScreenings.js"></script>