<div>
    <li id="movieID" data-id="<%= movie.id %>">
        <h2>Titel: <%= movie.title %> </h2>
        <p>Intro: <%- movie.intro %></p>
        <img width="250px" height="500px" src="<%= movie.image.url%>" alt="">
    </li>
  </div>
  
  <section class="upcoming">
    <ul id="coming-screenings">
    </ul>
  </section>
  
  <form id="form">
    <input id="name" type="text">
    <input id="comment" type="text">
    <button id="submit">Submit</button>
  </form>
  
  
  
  <script>
    postReview();
    
    function postReview() {
  
  
        const form = document.querySelector("#form")
        const name = document.querySelector("#name")
        const comment = document.querySelector("#comment")
        const btn = document.querySelector("#submit")
  
        btn.addEventListener( 'click', () => {
  
            const data = {
                name: name.value ,
                comment: comment.value ,
            }
  
            const options = {
  
                method: "POST",
                headers: {
                    "Content-type": "application/json"
                },
                body: JSON.stringify(data)  
            }
  
            fetch("/postRoute", options);
  
  
        })
  
  
    }
  
  
  
  
  
  
        
    
  
  
  
  
  
  
  
  </script>
  
  
  
  
  
  
  
  
  
  
  
  
  <script src="../static/jsfrontend/getUpcomingScreenings.js"></script>