<section class="pageHeader">
    <h2>Nyhetsbrev</h2>
  </section>
  <main class="content">
    <p>
      Vill du ha koll på vad som händer hos oss, premiärer, specialvisningar
      och biljettsläpp. Varannan vecka skickar vi ut ett nyhetsprev späckat
      med filmnyheter!
    </p>
    <p>
      <a href="#">Självklart vill jag prenumerera på nyhetsbrevet!!</a>
    </p>
    <img
      src="../static/newsletter.png"
      alt="Exempel nyhetsbrev"
      width="300"
      height="453"
    />
    <p>Exemplet är från vecka 40.</p>
  </main>