<main>
    <section class="premiereFriday">
      <h2>Premiärfredagar är inte vilken dag som helst</h2>
      <h3>På Biograf Spegeln firar vi in premiärerna på fredagar med champagne
        för
        85 kronor (ord. pris 175 kronor per glas).</h3>
      <figure>
        <img src="../static/wineGlasses.jpeg"
          alt="A bottle of wine behind two filled wine glasses.">
        <figcaption>Vi har precis bytt champagne till Gonet Reserve Brut som
          tillverkas
          av
          en
          småodlare från det kända vindistriktet Le Mesnil-Sur-Oger.
          Champagnen
          är
          torr med krämig mousse och frisk inbjudande syrlighet. Eleganta
          inslag
          av
          röda äpplen, bakat bröd och nötter med mineralig eftersmak.
        </figcaption>
      </figure>
    </section>
  </main>