<main>
    <section name="frequently-asked">
      <h1 class="main-title">BILJETTINFO</h1>
      <small>Biljetter kan köpas både online och på plats</small>

      <h2 class="questions-h2">FRÅGOR OCH SVAR</h2>

      <h3 class="question-title">HUR KÖPER JAG BILJETTER PÅ HEMSIDAN?</h3>
      <p class="answer">
        Du kan antingen betala med ditt betalkort eller presentkort på
        hemsidan, men du kan endast använda ett betalsätt per köp. Köper du
        din biljett via hemsidan får du en bokningsbekräftelse via mejl. Vi
        har endast direktköp på våra biljetter.
      </p>

      <h3 class="question-title">
        VARFÖR HAR JAG INTE FÅTT EN BOKNINGSBEKRÄFTELSE?
      </h3>
      <p class="answer">
        Ibland hamnar bekräftelsemailet i mottagarens skräppost. Om du märker
        att du inte får någon bokningsbekräftelse på dina köp, kan du godkänna
        vår mejladress som vi skickar bekräftelsen ifrån via din mejl.
      </p>

      <h3 class="question-title">
        VARFÖR FUNGERAR DET INTE ATT KÖPA BILJETTER PÅ HEMSIDAN?
      </h3>
      <p class="answer">
        Vi har märkt att det kan vara problem att köpa biljetter med
        webbläsaren Explorer. Andra webbläsare ska fungera fint. Har du ett
        Nordea-kort kan du behöva kontakta din bank för att låsa upp ditt kort
        för internetköp.
      </p>

      <h3 class="question-title">ÅTERKÖP OCH BYTEN</h3>
      <p class="answer">
        Biljetter till ordinarie repertoarfilm: Det går bra att göra återköp
        eller byta biljetterna till en annan visning eller en annan
        repetoarfilm senast 24 timmar innan filmen börjar. Återköp och byten
        av repertoarbiljetter görs endast på biografen. Live på bio: Vi har
        inga återköp på Live på bio-biljetter, men du kan byta till annan
        föreställning inom respektive genre med samma biljettpris: Met-opera
        kan till exempel bytas till annan Met-opera. Saknas det visningar inom
        genren går det inte att byta. Bytet görs endast på biografen senast 72
        timmar innan visningen börjar. Specialvisningar: Vi har inga återköp
        på biljetter till specialvisningar, men det går bra att byta biljetten
        till en annan specialvisning inom respektivie genre med samma
        biljettpris: Frukostbio kan till exempel bytas till en annan
        frukostbio. Saknas det visningar inom genren går det inte att byta.
        Bytet görs endast på biografen 72 timmar innan filmen börjar.
      </p>

      <img src="../static/faq.jpeg" alt="" />
    </section>

    <section name="additional-info">
      <h2 class="asked-title">BILJETT MED MAT OCH DRYCK</h2>
      <p class="answer">
        Du kan beställa från vår meny i samband med ditt biljettköp via
        hemsidan eller på biografen. Vid förköp serveras maten inför
        filmstart, men du kan även enkelt beställa mat och dryck under filmen.
        Alla våra tre salonger är serverade och har en bar som bemannas
        kontinuerligt, vilket betyder att du får avnjuta god mat och dryck
        tillsammans med din film!
      </p>

      <h2 class="asked-title">ÅTERKÖP OCH BYTEN</h2>
      <p class="answer">
        Biljetter till ordinarie repertoarfilm: Det går bra att göra återköp
        eller byta biljetterna till en annan visning eller en annan
        repetoarfilm senast 24 timmar innan filmen börjar. Återköp och byten
        av repertoarbiljetter görs endast på biografen. Live på bio: Vi har
        inga återköp på Live på bio-biljetter, men du kan byta till annan
        föreställning inom respektive genre med samma biljettpris: Met-opera
        kan till exempel bytas till annan Met-opera. Saknas det visningar inom
        genren går det inte att byta. Bytet görs endast på biografen senast 72
        timmar innan visningen börjar. Specialvisningar: Vi har inga återköp
        på biljetter till specialvisningar, men det går bra att byta biljetten
        till en annan specialvisning inom respektivie genre med samma
        biljettpris: Frukostbio kan till exempel bytas till en annan
        frukostbio. Saknas det visningar inom genren går det inte att byta.
        Bytet görs endast på biografen 72 timmar innan filmen börjar.
      </p>
      <img src="../static/cinemafood.jpg" alt="" />
    </section>
  </main>