<main>
    <section class="upcoming">
      <ul class="upcoming-movies">
        <li>6/1 - Operation Fortune: Ruse de Guerre</li>
        <li>6/1 - En sång för min dotter</li>
        <li>13/1 - All the Beauty and the Bloodshed</li>
        <li>13/1 - A Man Called Otto</li>
        <li>20/1 Holy Spider</li>
        <li>20/1 - The Son</li>
        <li>27/1 - Babylon</li>
        <li>27/1 - The Banshees of Inisherin</li>
        <li>3/2 - The Other Fellow</li>
        <li>3/2 - En dag kommer allt det här bli ditt</li>
        <li>3/2 - The Fabelmans</li>
        <li>10/2 - Dogborn</li>
        <li>11/2 - Godland</li>
        <li>17/2 - Aftersun</li>
      </ul>
    </section>
</main>