main {
    .about-us {
        width: 75%;
    }
    .about-main-title {
        width: 100%;
        text-align: center;
        font-size: 4em;
        letter-spacing: 0.3em;
        padding-bottom: 0.1em;
        padding-top: 0.6em;
    }
    .our-history {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 0.5em;
        padding-top: 0.4em;
    }
    .history-paragraph {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
    .our-cinema {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 0.5em;
        padding-top: 0.4em;
    }
    .our-cinema-paragraph {
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
}