.fnb{
    font-family: $font-family;
    font-size: $font-size;
    max-width: 80vw;
    margin: 1em auto;
        
        li{
            list-style: none;
        }
        h2, p, ul{
            margin: 0.25em 0;
        }
        &.fnb-book-a-table{
            font-size: 1.3rem;
            font-weight: 700;
            padding: 3px;
        }
        a{
            color: $blue-color;
        }
    
}
.food-diet-vegan{
    color: green;
}
