footer {
  background-color: $blue-color;
  border-radius: 1em 1em 0em 0em;
  box-shadow: 0 0.2em 0.3em black;
  color: $text-color;
  min-height: 150px;
  gap: 30px;
  font-family: $font-family;

  @media screen and (min-width: $screen-breakpoint) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-sections {
    padding: 10px 0 10px 20px;
    margin: 0.5em;

    h3 {
      margin-bottom: 0.3em;
      font-size: 16px;
      margin-top: 10px;
    }
    p {
      font-size: 12px;
    }

    .social-media-links {
      @include iconColor;
      padding: 3px;
    }

    #municipality-logo {
      width: 100px;
      height: auto;
    }
    #cinema-collab {
      width: 100px;
      height: auto;
    }

    @media screen and (min-width: $screen-breakpoint) {
      h3 {
        font-size: 22px;
      }
      p {
        font-size: $font-size;
      }
      .social-media-links {
        padding: 3px;
        width: 2em;
      }
      #municipality-logo,
      #cinema-collab {
        width: 200px;
        height: auto;
      }
    }
  }
}
