.reviewsSection {
    margin: 1em;
    padding: 1em;
    border: 0.1em solid rgb(156, 156, 156);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .1);
    border-radius: 0.8em;
    background-color:rgba(144, 144, 144, 0.2);
    button {
        
    }
}

#reviewContainer {
    list-style: none;
    margin: 1em;
    
    border: 0.1em solid black;
    //box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .1);
    border-radius: 0.8em;
    background-color:rgba(223, 223, 223, 0.757);

    li {
        margin: 0.8em;
        
        .reviewComment:after {
                content: '';
                display: block;
                position: relative;
                width: 90%;
                border: 1px solid #898989;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1.5em;
        
        }
        
    }
}
.author{
    font-size: 2em;
    font-weight: 800;
    margin: 5px;
}
.reviewComment{
    font-style: italic;
    margin: 5px;
}
.reviewRating{
    margin:5px;
    font-size: 1.5em;
    font-weight: 800;
}
.pagination-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    justify-content: center;
}
.pagination-number,
.pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}
.pagination-number.active {
    color: #fff;
    background: #0085b6;
}