.author{
    font-size: 2em;
    font-weight: 800;
    margin: 5px;
}
.reviewComment{
    font-style: italic;
    margin: 5px;
}
.reviewRating{
    margin:5px;
    font-size: 1.5em;
    font-weight: 800;
}