.moreAboutMovie {
    display: flex;

    margin-left: auto;
    margin-right: auto;

    width: 90%;
    text-align: center;
    
    #movieID {

        list-style: none;
        display: flex;
        max-width: 80%;
        padding-left: 10%;

        img {
            max-width: 5%;
            height: auto;
        }
        
        /* .movieInfo {
            
            
    
            h2 {
    
            }
    
            p {
    
            }
    
            h3 {
    
            }
    
        } */




        

    }



}



