.author{
    font-size: 2em;
    font-weight: 800;
    margin: 5px;
}
.reviewComment{
    font-style: italic;
    margin: 5px;
}
.reviewRating{
    margin:5px;
    font-size: 1.5em;
    font-weight: 800;
}
.pagination-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    justify-content: center;
}
.pagination-number,
.pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}
.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}
.pagination-number.active {
    color: #fff;
    background: #0085b6;
}