.screening{
    font-family: $font-family;
    color: $blue-color;
}
.screening-container{
    display: flex;
    justify-content: center;

}
#screening-header{
    font-size: 3em;
    margin: 1em;
    text-align: center;
}
.screening .screening-list-image{
    max-width: 100px;
    height: auto;
    align-self: left;
}
.screening-list-main-page{
    margin: 3em, auto, 2em, 2em;
}

.screening-item{
    display: flex;
    flex-direction: row;
    margin: 2em auto;
    a{
        text-decoration: none;
    }
    .movie-details{
        display: flex;
        flex-direction: column;
    }
    .movie-title{
        font-size: 2em;
    }
    .movie-title, .screening-room, .screening-time{
        margin-left: 1rem;
        margin-top: 1rem;
    }
}