.review-form   {
  margin-left: 1em;
  margin-right: 1em;
  display: flex;
  flex-wrap: wrap;

  .send-btn {
    padding: 5px;
    margin: 1rem 0;
    border-radius: 3px;
    border: none;
    background-color: rgb(83, 79, 79);
    color: white;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      transform: scale(1.05);
    }
  }

  .review-send {
    min-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left

    h2 {
      margin-top: 2rem;
    }

    .rating-div {
      margin-top: 1em;
      font-size: 1.5em;
      
      .rating {
        font-size: 1.3em;
        width: 2em;
        height: 2em;
        margin-bottom: 2rem;
      }
    }

    .comment-field {
      max-width: 90%;
      font-size: 2em;
      resize: none;
    }
    
    .person-info {
      width: 100%;
      
      h4 {
        font-size: 1.5em;
        margin-top: 1.5rem;
      }
      input {
        min-width: 70%;
        max-width: 90%;
        font-size: 2em;
      }
      
    }


    
    
  
    
    /* @media screen and (min-width: $screen-breakpoint) {
      padding-bottom: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      transform: scale(1.2);
    } */
    
  }
    
}
