main {
    display:flex;
    flex-direction: column;
    align-items: center;

    section {
        max-width: 80%;
        
        .main-title {
            width: 100%;
            text-align: center;
            font-size: 4em;
            letter-spacing: 0.3em;
            padding-bottom: 0.1em;
        }
        
        @media (max-width: 750px) {
            .main-title {
                width: 100%;
                text-align: center;
                font-size: 2em;
                letter-spacing: 0.3em;
            }
        }
        
        .sub-title {
            text-align: center;
            font-size: 2.5em;
            margin-top: 1em;
            margin-bottom: 0.5em;
            text-decoration: underline;
        }
        
        small {
            text-align: center;
            margin-bottom: 1em;
            display: block;
            font-size: 1.5em;
            font-style: italic;
        }

        @media (max-width: 750px) {
            small {
                text-align: center;
                font-size: 1em;
                font-style: italic;
            }
        }
        .questions-h2 {
            text-align: center;
            font-size: 2em;
            margin-bottom: 0.5em;
        }

        .asked-title {
            font-size: large;
            margin-bottom: 1em;
        }
        
        .answer {
            font-size: medium;
            margin-bottom: 0.5em;
        }
        
        img{
            width: 100%;
            max-height: 25em;
            object-fit:cover;
        }
    }
}

