#ul {

    font-size: 0.9rem;

    display: flex-column;
    width: 80%;
    background-color: #fff;
    border-radius: 0.5em;


    li {
        display: flex;
        max-width: 80%;
        margin: 0.5em 0.5em;
        
        img {
            max-width: 15vw;
            
        }
        
        div {
            margin-left: 2em;

            h2 {
                font-size: 1.5em;
                margin-bottom: 1em;
            }
    
            a {
                display:flex-row;
                padding: 0.5em;
                margin-right: 0.1em;
                flex-wrap: nowrap;
                border: 1px solid gray;
                align-self: flex-end;
            }
        }
    }
}

@media (max-width: 550px) {
    
   #ul {
    font-size: 0.7em;

    img {
        object-fit: scale-down;
    }
   }
    
    
    

}